@model CategoryViewModel
@Scripts.Render("~/bundles/ajax")

<div id="category-container" class="category-container">
    @if (ViewBag.ReturnUrl != null)
    {
        <div class="category-container__item category-container__item_gray category-container__item_hover_green">
            <div class="category-container__category-name">
                <a href="@ViewBag.ReturnUrl" class="button">Back</a>
            </div>
        </div>
    }
    else
    {
        <div class="category-container__item category-container__item_gray category-container__item_hover_green">
            <div class="category-container__category-name">
                @Html.ActionLink("All", "GetAdList", "Ad", null, htmlAttributes: new { @class = "button" })
            </div>
        </div>
    }

    @foreach (var item in Model.Categories)
    {
        <div class="category-container__item category-container__item_gray category-container__item_hover_green">
            <div class="category-container__category-name">
                @Html.ActionLink(item.Name, "GetAdsByCategoryId", "Ad",
                                                routeValues: new { categoryId = item.CategoryId },
                                                htmlAttributes: new { @class = "button width_75per" })
            </div>
            <div class="category-container__subcategory-link">
                <a onclick="renderActionAsync({ categoryId: @item.CategoryId, returnUrl: '@Request.QueryString["ReturlUrl"]' }, '@Url.Action("GetSubcategories", "Category")', 'category-container')" class="button width_25per">-></a>
            </div>
        </div>
    }
</div>