@model SearchViewModel
@Scripts.Render("~/location")
@Scripts.Render("~/search")

<script>
    window.onload = function () {
        fillLocation("location");
        loadCategories('categories');
        loadKinds();
        loadStates();
    }
</script>

<div class="width_25per float_left">
    @Html.EditorFor(model => model.SearchConfiguration.Name,
                new { htmlAttributes = new { id = "name" } })

    <div id="location">

    </div>

    <select id="categories" multiple="multiple">

    </select>

    @Html.DropDownListFor(model => model.SearchConfiguration.Kind,
                new SelectListItem[] { new SelectListItem { Text = "--- Choose kind ---", Selected = true, Value = "" } },
                htmlAttributes: new { id = "kinds" })

    @Html.DropDownListFor(model => model.SearchConfiguration.State,
                new SelectListItem[] { new SelectListItem { Text = "--- Choose state ---", Selected = true, Value = "" } },
                htmlAttributes: new { id = "states" })

    @Html.EditorFor(model => model.SearchConfiguration.MinPrice,
                new { htmlAttributes = new { id = "min-price" } })

    @Html.EditorFor(model => model.SearchConfiguration.MaxPrice,
                new { htmlAttributes = new { id = "max-price" } })

    <input type="button" onclick="searchByParams()" value="Search" class="button" />
</div>

<div id="search-result" class="width_75per float_right">
    @{ Html.RenderPartial("Partial\\AdContainer", model: Model.Ads); }
</div>