@model CategoryViewModel
@Scripts.Render("~/category")

<div id="category-container" class="category-container">

    <div id="back-button" class="category-container__item category-container__item_gray category-container__item_hover_green">
        <div class="category-container__category-name width_100per">
            <a href="#" onclick="getPreviousCategories()" class="link link_green">&#10094 Back</a>
        </div>
    </div>

    <div class="category-container__item category-container__item_gray category-container__item_hover_green">
        <div class="category-container__category-name width_100per">
            @Html.ActionLink("All", "GetAdList", "Ad", null, htmlAttributes: new { @class = "link" })
        </div>
    </div>

    @foreach (var item in Model.Categories)
    {
        <div class="category-container__item category-container__item_gray category-container__item_hover_green">
            <div class="category-container__category-name width_100per">
                @Html.ActionLink(item.Name, "GetAdsByCategoryId", "Ad",
                                 routeValues: new { categoryId = item.CategoryId },
                                 htmlAttributes: new { @class = "link" })
            </div>
            <div class="category-container__subcategory-link">
                <a onclick="getSubcategories(@item.ParentId, @item.CategoryId)" class="link link_green">&#10095</a>
            </div>
        </div>
    }
</div>