@model Ad

<div class="ad ad_min">
    <div class="ad__image width_25per">
        This is image
    </div>
    <div class="ad__content width_50per">
        <div>
            @Html.ActionLink(Model.Name, "GetAdDetails", "AdDetails",
                                       routeValues: new { adId = Model.AdId, returnUrl = Request.RawUrl },
                                       htmlAttributes: new { @class = "link" })
        </div>
        <div>
            CreationDate: @Model.CreationDate.ToShortDateString()
        </div>
        <div>
            Type: @Model.Kind / State: @Model.State
        </div>
    </div>
    <div class="ad__price width_25per">
        Price: @Model.Price
    </div>
</div>
