@model IReadOnlyCollection<User>
@Scripts.Render("~/admin")

<div class="card">
    <div class="row card-content">
        <div class="col s4">
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="right-align">
                            <a href="@Url.Action("CreateUser", "Membership")" class="btn-floating waves-effect waves-light btn-middle green">
                                <i class="material-icons">person_add</i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="user-@item.UserId">
                            <td>
                                @item.Name
                            </td>
                            <td class="right-align">
                                <button onclick="deleteUser(@item.UserId, 'user-@item.UserId')" type="button" class="btn-floating waves-effect waves-light btn-middle red">
                                    <i class="material-icons">delete</i>
                                </button>
                                <button onclick="editUser(@item.UserId)" type="button" class="btn-floating waves-effect waves-light btn-middle">
                                    <i class="material-icons">edit</i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col s6">
            <div id="edit-container" class="edit-container">
                <div id="edit-container__user" class="edit-container__user"></div>
                <div id="edit-container__roles"></div>
            </div>
        </div>
    </div>
</div>