@model User

<h1>User</h1>
@Model.Name
@Model.UserId

<div id="phones">
    <script>
        function getPhones(data) {
            var phones = JSON.parse(data);
            var html = "";
            for (var i = 0; i < phones.length; i++) {
                html += phones[i].Number + "<br>";
            }
            $('#phones').html(html);
        }
        getDataAsync({ userId: @Model.UserId }, '@Url.Action("GetPhonesByUserId", "Phone")', getPhones);
    </script>
</div>

<div id="emails">
    <script>
        function getMails(data) {
            var mails = JSON.parse(data);
            var html = "";
            for (var i = 0; i < mails.length; i++) {
                html += mails[i].Email + "<br>";
            }
            $('#emails').html(html);
        }
        getDataAsync({ userId: @Model.UserId }, '@Url.Action("GetMailsByUserId", "Mail")', getMails);
    </script>
</div>