@model IReadOnlyCollection<User>
@Scripts.Render("~/admin")

@Html.ActionLink("CreateUser", "CreateUser", "Membership", new { returnUrl = Request.RawUrl },
    htmlAttributes: new { @class = "button button_green" })
<table class="float_left width_25per">
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="user-@item.UserId">
            <td>
                @item.Name
            </td>
            <td>
                <input type="button" value="delete" onclick="deleteUser(@item.UserId, 'user-@item.UserId')" />
            </td>
            <td>
                <a href="#" onclick="editUser(@item.UserId)" class="button button_green button_hover_red">Edit</a>
            </td>
        </tr>
    }
</table>

<div class="float_right width_75per">
    <div id="edit-container" class="edit-container">
        <div id="edit-container__user" class="edit-container__user">

        </div>
        <div id="edit-container__roles" class="edit-container__roles">

        </div>
    </div>
</div>