@model User
@Scripts.Render("~/user")

<script>
    function addMail() {
        $('#emails').append('@Html.Raw(addInput("email").ToString().Replace("\n", "").Replace("\r", ""))');
    }

    function addPhone() {
        $('#phones').append('@Html.Raw(addInput("phone").ToString().Replace("\n", "").Replace("\r", ""))');
    }
</script>

@helper addInput(string inputIcon)
{
    <div class="input-field row">
        <div class="col s10">
            <i class="material-icons prefix">@inputIcon</i>
            <input type="text" class="validate">
        </div>
        <div class="col s2" onclick="$(this).parent().remove();">
            <a class="btn-floating waves-effect waves-light btn-middle red">
                <i class="material-icons">delete</i>
            </a>
        </div>
    </div>
}

<div class="card">
    <div class="card-content">
        <h3>Edit profile</h3>

        <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input id="name" value="@Model.Name" type="text" class="validate">
        </div>

        <div class="width_50per row">
            @if (Model.PhotoData == null)
            {
                <img src="~/Content/images/profile.png" id="photo" class="user__image width_100per" />
            }
            else
            {
                @Html.RenderImage(Model.PhotoData, Model.PhotoExtension, "user__image width_100per", htmlAttributes: new { id = "photo" })
            }
            <div class="file-field input-field">
                <div class="btn green">
                    <span>File</span>
                    <input type="file" onchange="fillPhoto(event)">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>

        <div class="center row">
            <h5 class="left-center">Phones</h5>
            <div id="phones">
                @foreach (var phone in Model.Phones)
                {
                    <div class="input-field row">
                        <div class="col s10">
                            <i class="material-icons prefix">phone</i>
                            <input value="@phone.Number" data-phone-id="@phone.PhoneId" type="text" class="validate">
                        </div>
                        <div class="col s2" onclick="$(this).parent().remove();">
                            <a class="btn-floating waves-effect waves-light btn-middle red">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <a class="btn-floating btn-tiny waves-effect waves-light green" onclick="addPhone()"><i class="material-icons">add</i></a>
        </div>

        <div class="center row">
            <h5 class="left-center">Emails</h5>
            <div id="emails">
                @foreach (var mail in Model.Mails)
                {
                    <div class="input-field row">
                        <div class="col s10">
                            <i class="material-icons prefix">email</i>
                            <input value="@mail.Email" data-mail-id="@mail.MailId" type="text" class="validate">
                        </div>
                        <div class="col s2" onclick="$(this).parent().remove();">
                            <a class="btn-floating waves-effect waves-light btn-middle red">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <a class="btn-floating btn-tiny waves-effect waves-light green" onclick="addMail()">
                <i class="material-icons">add</i>
            </a>
        </div>

        <div class="right-align">
            <input type="hidden" id="userId" value="@Model.UserId" />

            <button class="btn waves-effect waves-light" type="button" onclick="saveUser()">
                Save
                <i class="material-icons right">save</i>
            </button>
        </div>

        <div id="save-result" class="none">
            <div class="green-text center">
                <i class="large material-icons center">check</i>
            </div>
        </div>

    </div>
</div>

