@model Ad

<div class="ad ad_min">
    <div id="ad__image" class="ad__image width_25per">
        @{  Html.RenderPartial("Partial\\ImagesSlider", new ImageViewModel { Images = Model.Images }); }
    </div>
    <div class="ad__content width_50per">
        <div class="ad__name">
            @Html.ActionLink(Model.Name, "GetAdDetails", "AdDetails",
                                           routeValues: new { adId = Model.AdId, returnUrl = Request.RawUrl },
                                           htmlAttributes: new { @class = "button button_green button_hover_red" })
        </div>
        <div class="ad__note">
            <span class="ad__text">CreationDate: </span>@Model.CreationDate.ToShortDateString()
        </div>
        <div class="ad__note">
            <span class="ad__text">Type: </span>@Model.Kind
        </div>
        <div class="ad__note">
            <span class="ad__text">State: </span>@Model.State
        </div>
        <div id="ad__location" class="ad__note ad__text">
            @Model.Location.Country / @Model.Location.Area / @Model.Location.City
        </div>
        <div>
            @foreach (var item in Model.Categories)
            {
                <span>@item.Name;</span>
            }
        </div>
    </div>
    <div class="ad__price width_25per">
        $@Model.Price
    </div>
</div>
