@helper getEditorLinks()
{
    <div class="menu__splitter">/</div>
    <a href="@Url.Action("OpenEditorPage", "Editor")" class="menu__link teal-text text-lighten-1 waves-effect waves-light">Editor page</a>
}

@helper getAdminLinks()
{
    <div class="menu__splitter">/</div>
    <a href="@Url.Action("GetAllUsers", "User")" class="menu__link teal-text text-lighten-1 waves-effect waves-light">User managment</a>
}

<div class="menu menu_center">
    <a href="@Url.Action("Index", "Home")" class="menu__link teal-text text-lighten-1 waves-effect waves-light">Home</a>
    <div class="menu__splitter">/</div>

    <a href="@Url.Action("GetAdList", "Ad")" class="menu__link teal-text text-lighten-1 waves-effect waves-light">Ads</a>
    <div class="menu__splitter">/</div>

    <a href="@Url.Action("Search", "Search")" class="menu__link teal-text text-lighten-1 waves-effect waves-light">Search</a>
    @{

        if (User.Identity.IsAuthenticated)
        {
            var user = User as UserPrinciple;
            if (user.IsInRole(RoleType.Editor.ToString()))
            {
                @getEditorLinks()
            }

            if (user.IsInRole(RoleType.Admin.ToString()))
            {
                @getEditorLinks()
                @getAdminLinks()
            }
        }
    }
</div>