@model Ad

<div class="ad ad_min clearfix">
    <div class="ad__image ad__image_left ad__image_size_4">
        This is image
    </div>
    <div class="ad__content ad__content_right ad__content_size_8">
        <div>
            @Html.ActionLink(Model.Name, "GetAd", "Ad",
                                       routeValues: new { adId = Model.Id, returnUrl = Request.RawUrl },
                                       htmlAttributes: new { @class = "link" })
        </div>
        <div>
            Description: @Model.Description
        </div>
        <div>
            Price: @Model.Price
        </div>
        <div>
            CreationDate: @Model.CreationDate
        </div>
        <div>
            Type: @Model.Type / State: @Model.State
        </div>
        <div>
            @if (Model.Categories != null)
            {
                foreach (var item in Model?.Categories)
                {
                    @Html.ActionLink(item.Name, "GetCategoryAds", "Ad",
                               routeValues: new { categoryId = item.Id },
                               htmlAttributes: new { @class = "link" })
                }
            }
        </div>
    </div>
</div>
