@model AdDetails

<a href="@ViewBag.ReturnUrl">Back</a>

<div>
    @Model.Name
</div>

<div id="ad__image_@Model.AdId" class="ad__image width_25per">
    <script>
            renderActionAsync({ adId: @Model.AdId }, '@Url.Action("GetImagesByAdId", "Image")', 'ad__image_@Model.AdId');
    </script>
</div>

<div>
    @Model.Price
</div>
<div>
    @Model.Description
</div>
<div>
    @Model.AddressLine
</div>

@*@{ Html.RenderAction("GetLocationByCityId", "Location", new { cityId = Model.CityId }); }*@

@*@{ Html.RenderAction("GetUser", "User", new { userId = Model.UserId }); }*@