@model AdDetails

<a href="@ViewBag.ReturnUrl">Back</a>

@{
    if (User.Identity.IsAuthenticated)
    {
        var user = User as Callboard.App.General.Entities.Auth.UserPrinciple;
        if (user != null && Model.User.UserId == user.UserId)
        {
            <div>
                @Html.ActionLink("Edit", "EditAdDetails", "AdDetails", new { adId = Model.AdId },
                                    htmlAttributes: new { @class = "button button_green button_hover_red" })
            </div>
            <div>
                @Html.ActionLink("Delete", "DeleteAd", "Ad", new { adId = Model.AdId, returnUrl = ViewBag.ReturnUrl },
                                    htmlAttributes: new { @class = "button button_green button_hover_red" })
            </div>
        }
    }
}

<div class="ad ad_full">
    <div id="ad__image" class="ad__image ad__image_big">
        @{ Html.RenderPartial("Partial\\ImagesSlider", new ImageViewModel { Images = Model.Images }); }
    </div>

    <div class="ad__content">
        <div class="ad__name">
            @Model.Name
        </div>
        <div class="">
            @Model.Price
        </div>
        <div>
            @Model.Description
        </div>
        <div>
            @Model.AddressLine
        </div>
        <div>
            @Model.CreationDate
        </div>
        <div>
            @Model.Kind
        </div>
        <div>
            @Model.State
        </div>
        <div id="ad__location">
            @Model.Location.Country / @Model.Location.Area / @Model.Location.City
        </div>
        <div id="ad__user">
            @{ Html.RenderPartial("Partial\\User", Model.User); }
        </div>
    </div>
</div>