@model AdDetails

<a href="@ViewBag.ReturnUrl">Back</a>

<div>
    @Model.Name
</div>
<div>
    @Model.Price
</div>
<div>
    @Model.Description
</div>
<div>
    @Model.AddressLine
</div>

@{ Html.RenderAction("GetLocationByCityId", "Location", new { cityId = Model.CityId }); }

@{ Html.RenderAction("GetUser", "User", new { userId = Model.UserId }); }

@{ Html.RenderAction("GetImagesByAdId", "Image", new { adId = Model.AdId }); }