@model AdDetailsViewModel
@Scripts.Render("~/location")
@Scripts.Render("~/addetails")

<script>
    window.onload = function () {
        if (@Model.LocationId == 0) {
            loadCountries();
        }
        else {

        }
        loadKinds();
        loadStates();
        loadCategories(@Html.Raw(Json.Encode(Model.Categories)));
    };
</script>

<div>
    @*<div id="ad__image" class="ad__image ad__image_big">
            @{ Html.RenderPartial("Partial\\ImagesSlider", new ImageViewModel { Images = Model.Images }); }
        </div>*@
    <div class="ad__content">

        <input type="hidden" id="userId" value="@Model.UserId" />
        <input type="hidden" id="adId" value="@Model.AdId" />
        <div class="ad__name">
            <input type="text" id="name" value="@Model.Name" />
        </div>
        <div class="">
            <input type="text" id="price" value="@Model.Price" />
        </div>
        <div>
            <input type="text" id="description" value="@Model.Description" />
        </div>
        <div>
            <input type="text" id="addressLine" value="@Model.AddressLine" />
        </div>
        <div>
            <select id="countries" onchange="fillAreas(this.options[this.selectedIndex].value)">
                <option selected="selected" value="0">--- Choose country ---</option>
            </select>

            <select id="areas" onchange="fillCities(this.options[this.selectedIndex].value)">
                <option selected="selected" value="0">--- Choose area ---</option>
            </select>

            <select id="cities">
                <option selected="selected" value="0">--- Choose city ---</option>
            </select>


            <select id="kinds">
                <option selected="selected" value="">--- Choose kind ---</option>
            </select>

            <select id="states">
                <option selected="selected" value="">--- Choose state ---</option>
            </select>
        </div>

        <select id="categories" multiple="multiple">
            <option selected="selected">--- Choose category ---</option>
        </select>

        <input type="button" value="Save" onclick="saveAdDetails()" class="button button_green button_rounded" />
    </div>
</div>