@model AdDetailsViewModel
@Scripts.Render("~/location")
@Scripts.Render("~/addetails")

@using (Html.BeginForm("SaveAdDetails", "AdDetails", FormMethod.Post))
{
    @*<div id="ad__image" class="ad__image ad__image_big">
            @{ Html.RenderPartial("Partial\\ImagesSlider", new ImageViewModel { Images = Model.Images }); }
        </div>*@
    <div class="ad__content">
        <div class="ad__name">
            @Html.EditorFor(model => model.Name)
        </div>
        <div class="">
            @Html.EditorFor(model => model.Price)
        </div>
        <div>
            @Html.TextAreaFor(model => model.Description)
        </div>
        <div>
            @Html.EditorFor(model => model.AddressLine)
        </div>
        <div>
            @Html.EditorFor(model => model.Kind)
        </div>
        <div>
            <select id="countries" onchange="fillAreas(this.options[this.selectedIndex].value)">
                <option selected="selected">--- Choose country ---</option>
            </select>

            <select id="areas" onchange="fillCities(this.options[this.selectedIndex].value)">
                <option selected="selected">--- Choose area ---</option>
            </select>

            @Html.DropDownListFor(model => model.LocationId,
                         new SelectListItem[] { new SelectListItem { Text = "--- Choose city ---", Selected = true, Value = "0" } },
                         htmlAttributes: new { id = "cities" })

            @Html.DropDownListFor(model => model.Kind,
                           new SelectListItem[] { new SelectListItem { Text = "--- Choose kind ---", Selected = true, Value = "" } },
                           htmlAttributes: new { id = "kinds" })

            @Html.DropDownListFor(model => model.State,
                           new SelectListItem[] { new SelectListItem { Text = "--- Choose state ---", Selected = true, Value = "" } },
                           htmlAttributes: new { id = "states" })
        </div>
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.AdId)
        @Html.HiddenFor(model => model.Categories)

        <input type="submit" value="Save" />
    </div>
}