@model AdDetailsViewModel
@Scripts.Render("~/location")
@Scripts.Render("~/addetails")

<script>
    window.onload = function () {
        if (@Model.Location.LocationId == 0) {
            fillLocation('location');
        }
        loadKinds();
        loadStates();
        loadCategories(@Html.Raw(Json.Encode(Model.Categories)));
        fillImages(@Html.Raw(Json.Encode(Model.Images)), 'images');
    };
</script>

<div>
    <div class="ad__content">

        <input type="hidden" id="userId" value="@Model.UserId" />
        <input type="hidden" id="adId" value="@Model.AdId" />

        <div class="ad__image">
            <div id="images">

            </div>
            <a href="#" onclick="addImage('images')">Add image</a>
        </div>

        <div class="ad__name">
            <input type="text" id="name" value="@Model.Name" />
        </div>
        <div>
            <input type="text" id="price" value="@Model.Price" />
        </div>
        <div>
            <input type="text" id="description" value="@Model.Description" />
        </div>
        <div>
            <input type="text" id="addressLine" value="@Model.AddressLine" />
        </div>

        <div id="location">
            <input type="hidden" id="locationId" value="@Model.Location.LocationId" />
            @Model.Location.Country / @Model.Location.Area / @Model.Location.City
            <a href="#" onclick="fillLocation('location')">Change location</a>
        </div>

        <select id="kinds">
            <option selected="selected" value="">--- Choose kind ---</option>
        </select>

        <select id="states">
            <option selected="selected" value="">--- Choose state ---</option>
        </select>

        <select id="categories" multiple="multiple">
            <option selected="selected">--- Choose category ---</option>
        </select>

        <input type="button" value="Save" onclick="saveAdDetails()" class="button button_green button_rounded" />
    </div>
</div>