@model Ad

<a href="@ViewBag.ReturnUrl">Back</a>

<div>Name: @Model.Name</div>

<div>Description: @Model.Description</div>

<div>Price: @Model.Price</div>

<div>CreationDate: @Model.CreationDate</div>

<div>State: @Model.State</div>

<div>Type: @Model.Type</div>

<div>User name: @Model.User.Name</div>

<div>addressLine: @Model.Location.AddressLine</div>